In [1]:
import pandas as pd

In [2]:
confirmed = pd.read_csv('time_series_covid_19_confirmed.csv')
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,53,59,70,75,82,114,147,177,212,272
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,581,639,639,701,773,839,825,878,889,924
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,160,178,178,200,212,226,243,266,313,345
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,129,149,149,197,238,428,566,673,790,900

In [3]:
deaths = pd.read_csv('time_series_covid_19_deaths.csv')
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,10,15,16,19,22,22,27,29,29,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2

In [4]:
recovered = pd.read_csv('time_series_covid_19_recovered.csv')
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,33,34,34,35,35,35,35,41,42,42
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,101,118,118,118,118,118,144,144,144,150
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,96,96,97,105,105,109,114,114,114
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,24,26,26,26,35,42,42,49,60,75

In [5]:
confirmed[confirmed['Country/Region'] == 'China']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
154,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67760,67773,67781,67786,67790,67794,67798,67799,67800,67800
158,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1353,1356,1356,1356,1356,1360,1361,1364,1370,1378
159,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1272,1273,1273,1273,1273,1273,1273,1273,1273,1273
160,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1215,1215,1215,1215,1227,1231,1231,1232,1232,1233
161,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018
162,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,990
163,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,935,935,935,935,935,935,935,935,935,935
164,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,758,760,760,760,760,760,760,761,761,761
166,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,631,631,631,631,631,631,631,631,631,631
167,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
168,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,539,539,539,539,539,539,539,540,540,540
169,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,481,482,482,482,482,482,482,482,482,483
171,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,429,435,435,436,437,442,452,456,469,480
172,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,344,344,344,346,353,353,355,358,361,363
173,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,318,318,318,318,318,318,318,318,318,318
174,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,296,296,296,296,296
175,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,252,252,252,252,252,252,252,253,253,253
176,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,245,245,245,245,245,245,245,246,246,246
177,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,174,174,174,174,174,174,176,176,176,176
178,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,168,168,168,168,168,168,168,168,168,168
179,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,146,146,146,146,146,146,146,147,146,146
180,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,136,136,136,136,136,136,136,136,136,137
181,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,133,133,133,133,133,133,133,133,133,133
182,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,125,127,127,127,129,133,133,133,133,134
183,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,120,126,129,134,140,145,155,162,181,208
184,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,125,125,125,125,125,125,125,125,125,125
185,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,93,93,93,93,93,93,93,93,93,93
187,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,76,76,76,76,76,76,76,76,76,76
188,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,75,75,75,75,75,75,75,75,75,75
189,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
193,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
194,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,10,10,10,10,10,10,11,12,15,17
202,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [6]:
def integrate(confirmed):
    confirmed.loc[confirmed['Country/Region']=='Taiwan*','Province/State'] = 'Taiwan'
    confirmed.loc[confirmed['Country/Region']=='Taiwan*','Country/Region'] = 'China'

In [7]:
integrate(confirmed)
integrate(deaths)
integrate(recovered)

In [8]:
confirmed_China = confirmed[confirmed['Country/Region'] == 'China']

In [9]:
deaths_China = deaths[deaths['Country/Region'] == 'China']

In [10]:
recovered_China = recovered[recovered['Country/Region'] == 'China']

In [35]:
confirmed_China.to_csv('confirmed_China.csv')
deaths_China.to_csv('deaths_China.csv')
recovered_China.to_csv('recovered_China.csv')

In [14]:
def calc_growth(confirmed_China):
    timeline = confirmed_China.columns[4:]
    growth_confirmed_China = confirmed_China.iloc[:,:-1]
    for i in range(len(timeline)-1):
        growth_confirmed_China[timeline[i]] = confirmed_China[timeline[i+1]] - confirmed_China[timeline[i]]
    return growth_confirmed_China

In [16]:
growth_confirmed_China = calc_growth(confirmed_China)
growth_deaths_China = calc_growth(deaths_China)
growth_recovered_China = calc_growth(recovered_China)

In [17]:
growth_confirmed_China.to_csv('growth_confirmed_China.csv')
growth_deaths_China.to_csv('growth_deaths_China.csv')
growth_recovered_China.to_csv('growth_recovered_China.csv')